@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>
        Somos una pequeña empresa encargada de fabricar, entregar e insatalar distintos tipos de muebles, según lo deseado por nuestro clientes.
        Nos dedicamos a traer una gran variedad de productos para que puedas disfrutar de la mejor comodidad en tu espacios.
    </p>

    <h1>
        Misión
    </h1>

    <p>
        Gestionar las ventas de productos y operaciones con eficiencia, ofreciendo
        muebles de calidad para satisfacer las necesidades de nuestros clientes, mientras
        optimizamos recursos y tiempos para impulsar el crecimiento de la empresa.
    </p>

    <h1>
        Visión
    </h1>

    <p>
        Dentro de 10 años la empresa será grande en el mercado de muebles de oficina,
        reconocidos por nuestro sistema web de ventas eficaz y por ofrecer productos de calidad
        que brinden comodidad y estilo a todas las personas y empresas, contribuyendo así a
        crear espacios de trabajo funcionales y agradables.
    </p>


</main>