


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>
        En nuestra empresa, creemos firmemente en la filosofía de la funcionalidad y la estética
        como pilares fundamentales de nuestro trabajo. Inspirados en las enseñanzas de la filosofía del diseño y la estética,
        buscamos ofrecer a nuestros clientes más que simples productos; aspiramos a brindar experiencias que transformen
        los espacios y enriquezcan la vida cotidiana.Nos esforzamos por fomentar un ambiente de trabajo colaborativo y ético,
        donde cada miembro de nuestro equipo se sienta valorado y motivado para trabajar.
    </p>

    <h1>
        Principios
    </h1>

    <p>
        <strong>1. Enfoque y orientación en el cliente:</strong> Osbar prioriza las necesidades y preferencias de sus clientes en todos los aspectos de su operación, desde el diseño de productos hasta la atención al cliente, garantizando una experiencia satisfactoria en cada interacción.
    </p>

    <p>
        <strong>2. Calidad en los productos y servicios:</strong> La empresa se compromete a ofrecer muebles de oficina de la más alta calidad, utilizando materiales duraderos y técnicas de fabricación precisas para garantizar la satisfacción del cliente y la reputación de la marca.
    </p>

    <p>
        <strong>3. Innovación y diseño:</strong> Osbar se esfuerza por mantenerse a la vanguardia de la innovación en diseño de muebles, desarrollando soluciones creativas y funcionales que se adapten a las necesidades cambiantes del mercado y reflejen las últimas tendencias en diseño de interiores.
    </p>

    <p>
        <strong>4. Sostenibilidad:</strong> La empresa se compromete a minimizar su impacto ambiental mediante prácticas sostenibles en todas las etapas de producción, desde la selección de materiales hasta la gestión de residuos, con el objetivo de preservar el medio ambiente para las generaciones futuras.
    </p>

    <p>
        <strong>5. Cambios y mejoras:</strong> Osbar promueve una cultura de mejora continua, fomentando la innovación y la adaptabilidad para responder de manera efectiva a los cambios del mercado y las nuevas oportunidades, garantizando así su relevancia y competitividad a largo plazo.
    </p>

    <p>
        <strong>6. Trabajo en equipo:</strong> La colaboración y el trabajo en equipo son fundamentales en Osbar, donde cada empleado contribuye con sus habilidades y conocimientos para alcanzar los objetivos comunes de la empresa, promoviendo un ambiente de confianza y camaradería.
    </p>

    <h1>
        Valores
    </h1>

    <p>
        <strong>1. Confianza:</strong> Osbar se esfuerza por construir relaciones de confianza con sus clientes, empleados y socios comerciales, cumpliendo siempre con sus compromisos y manteniendo la transparencia en todas sus operaciones.
    </p>

    <p>
        <strong>2. Honestidad:</strong> La empresa se guía por los más altos estándares éticos y de integridad, actuando siempre con honestidad y transparencia en todas sus interacciones, tanto internas como externas.
    </p>

    <p>
        <strong>3. Respeto:</strong> Osbar valora y respeta la diversidad de ideas, opiniones y culturas, creando un entorno inclusivo donde cada individuo se siente valorado y respetado por su contribución única.
    </p>

    <p>
        <strong>4. Eficiencia:</strong> La eficiencia operativa es una prioridad en Osbar, donde se busca maximizar la productividad y minimizar el desperdicio de recursos, garantizando así la rentabilidad y la satisfacción del cliente.
    </p>

    <p>
        <strong>5. Flexibilidad:</strong> La empresa se adapta rápidamente a los cambios del mercado y las necesidades del cliente, siendo flexible en su enfoque y ágil en la toma de decisiones para mantener su competitividad.
    </p>

    <p>
        <strong>6. Responsabilidad:</strong> Osbar asume la responsabilidad de sus acciones y sus impactos, tanto a nivel social como ambiental, buscando siempre contribuir de manera positiva a la comunidad y al medio ambiente.
    </p>

    <p>
        <strong>7. Compromiso:</strong> La dedicación y el compromiso son valores fundamentales en Osbar, donde cada empleado está comprometido con la excelencia en su trabajo y con el éxito a largo plazo de la empresa.
    </p>

    <p>
        <strong>8. Creatividad:</strong> La creatividad y la innovación son fomentadas y valoradas en Osbar, donde se alienta a los empleados a pensar de manera creativa y a proponer nuevas ideas que impulsen el crecimiento y la diferenciación en el mercado.
    </p>



</main>